# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Environment Variables
# ===============================
.env
backend/.env
frontend/.env
nlp-service/.env

# ===============================
# Build Folders
# ===============================
dist/
build/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editor Files
# ===============================
.vscode/
.idea/